
#gallery_list .list {
    display: grid;
    width: 100%;
    grid-template-areas:
     ". . .";/* bus 3 kazkokie stulpeliai, taskais zymimi stulpeliai be pavadinimo*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    place-items: start; 
}
    #gallery_list  .galleryBlock{
        display: inline-block;
        width:100%;
        border-radius: 2px;
        box-shadow:  0 0 3px gray;
        position: relative;
    }
        
        #gallery_list .galleryBlock::before{
            content: "";
            display: inline-block;
            width:1px;
            height: 0;
            padding-bottom: calc(100% - 4px);
        }
        #gallery_list .galleryBlock .absolute{
            position: absolute;
            top:0;
            left:0;
            right: 0;
            bottom: 0;
            }
            
    .galleryPhoto:hover {
    opacity: 0.3;
  }
    .absolute:hover {
    opacity: 1;

  }
  
    #gallery_list .galleryBlock .blackside {
        
        top: 0;
        text-align: center;
        opacity: 0;
    }
        
        #gallery_list .galleryBlock .galleryPhoto{
            height: 100%;
            background-position: center;
            background-size: cover;
        }

        #gallery_list > .galleryBlock > .span{
        
                /* position: absolute;
                top:0;
                left:0;
                display: inline-block; */
        }

        #gallery_list > .galleryBlock > h6{
                /* position: absolute;
                display: inline-block; */
        }

        .gallery .filter {
            display: inline-block;
            float: left;
            margin:0  calc( ( 100% - 650px ) / 2 );
        }
            .gallery .filter *{
                padding: 30px;
                text-align: right;
                cursor: pointer;
                display: inline-block;
            }
            .gallery .listClick{
                text-align: left;
            }

            
            #all::before{
            content: " ";
                width:5px;
                height: 5px;
                border-radius: 50%;
                background-color: var(--grey-color-2);
                float: right;
                margin-left: 12px; 
                margin-top: 10px;
                  }
            .gallery .listClick::before {
                content: " ";
                width:5px;
                height: 5px;
                border-radius: 50%;
                background-color: var(--grey-color-2);
                float: right;
                
                margin-left: 10px;
                margin-top: 10px;

                  }
                  .gallery .listClick:last-child:before {
                display: none;  
                }