.container div.galleryBlock{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0 auto;
    max-width: 1200px;
    grid-column-gap: 10px;
    grid-auto-rows: 300px;
}

.gallery > .galleryBlock > .gallery img{
height: 100%;
width: 100%;
display: inline-block;

}
 .gallery > .galleryBlock > .gallery span{
position: absolute;
top:0;
left:0;
display: inline-block;
}
.gallery > .galleryBlock > .gallery h6{
    position: absolute;
    display: inline-block;
}
