
#gallery_list .list {
    display: grid;
    width: 100%;
    grid-template-areas:    ". . .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    place-items: start; 
}
    .gallery .filter {
        display: inline-block;
        float: left;
        margin:0  calc( ( 100% - 650px ) / 2 );
    }
        .gallery .filter *{
            padding: 30px;
            text-align: right;
            cursor: pointer;
            display: inline-block;
        }
        .gallery .listClick{
            text-align: left;
        }
    #all::before{
    content: " ";
        width:5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--grey-color-2);
        float: right;
        margin-left: 10px; 
        margin-top: 5px;
    }
        .gallery .listClick::before {
            content: " ";
            width:5px;
            height: 5px;
            border-radius: 50%;
            background-color: var(--grey-color-2);
            float: right;
            margin-left: 10px;
            margin-top: 5px;
        }
        .gallery .listClick:last-child:before {
        display: none;  
        }
    #gallery_list  .galleryBlock{
        display: inline-block;
        width:100%;
        border-radius: 2px;
        box-shadow:  0 0 3px gray;
        position: relative;
    }
        
        #gallery_list .galleryBlock::before{
            content: "";
            display: inline-block;
            width:1px;
            height: 0;
            padding-bottom: calc(100% - 4px);
        }
        #gallery_list .galleryBlock .absolute{
            position: absolute;
            top:0;
            left:0;
            right: 0;
            bottom: 0;
        }
            #gallery_list .galleryBlock .galleryPhoto{
                height: 100%;
                background-position: center;
                background-size: cover;
                transition: .5s ease-out;
                /* backface-visibility: hidden; */
            }       
    #gallery_list .galleryBlock .blackside {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
    }
        #gallery_list .galleryBlock .blackside span{
            position: absolute;
            bottom: 40%;
            display: inline-block; 
            font-size: 30px; 
            width: 100%;
            text-align: center;
        }
        #gallery_list .galleryBlock .blackside h6{
                position: absolute;
                top: 40%;
                display: inline-block;
                font-size: 20px;
                text-align: center;
                font-weight: lighter;
                color: var(--grey-color-1);
                width: 100%;
        }
            #gallery_list .galleryBlock .blackside:hover {
                opacity: 1;
                background:linear-gradient(to right, rgba(71, 50, 50, 0.85), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85));
            }   

