.allTestimonials {
    display: inline-block;
    width: 100%;
    color:var(--white-color);
}
    /* .allTestimonials > .list {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;  
        animation-name:changing;
        animation-iteration-count: infinite;
        animation-duration: 8s;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
        opacity: 1;
    }
    @keyframes changing{

        0% {
            margin-left: 100%
        }
        100% {
            margin-left: -100%;
        }
    }   */
        .allTestimonials > .list > .allTestimonials {
            display: none;
            width: 100%;
            text-align: center;
        }
            .allTestimonials > .list > .allTestimonials.active {
                display: inline-block;
            }
        .allTestimonials img{
            margin-top: 30px;
            width: 50px;
            height: 50px;
            display: inline-block;
            position: static;
            left: calc( ( 100% - 100px) / 2 );
        } 
        .allTestimonials h5{
            padding-top:20px;
            font-size: 18px;
        }
        .allTestimonials h6{
            padding-bottom: 20px;
            font-size: 15px;
            font-weight: lighter;
        }

        .allTestimonials p{
            margin: 0 300px;
            margin-bottom: 30px;
        }
.dots{
    width: 15px;
    height: 7px;
    border-radius: 30px;
    background-color: grey;
    display: inline-block;
    cursor: pointer;
    margin: 20px 5px;
}
div .dots:hover{
    background-color: white;
    width: 20px;
}
.dotsBlock{
    width: 85px;
    margin-left: calc( ( 100% - 85px ) / 2 );
}